@import "./normalize.css";
@import "./variables.css";


  .new-task-box {
    width: 27.5vw;
    height: 100%;
    background-color: var(--white);
    border-radius: var(--small);
    box-shadow: var(--primaryShadowColor);
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--medium);
  }
  
  label {
    margin-top: var(--medium);
    font-size: larger;
  }
  
  .input {
    font-size: medium;
    padding: var(--small);
    border: none;
    outline: none;
    border-radius: var(--small);
    box-shadow: var(--secondaryShadowColor);
  }
  
  input:focus {
    box-shadow: var(--focusPrimaryShadowColor);
  }
  
  .category-row-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .category-family {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--familyColor);
    box-shadow: var(--secondaryShadowColor);
  }
  
  .category-health {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--healthColor);
    box-shadow: var(--secondaryShadowColor);
  }
  
  .category-job {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--jobColor);
    box-shadow: var(--secondaryShadowColor);
  }
  
  .category-study {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--studyColor);
    box-shadow: var(--secondaryShadowColor);
  }
  
  .category-entertainment {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--entertainmentColor);
    box-shadow: var(--secondaryShadowColor);
  }
  
  .category-logo {
    width: 45px;
    height: 45px;
  }
  
  .category-family:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--familyColor);
    box-shadow: var(--hoverShadowColor);
  }
  
  .category-health:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--healthColor);
    box-shadow: var(--hoverShadowColor);
  }
  
  .category-job:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--jobColor);
    box-shadow: var(--hoverShadowColor);
  }
  
  .category-study:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--studyColor);
    box-shadow: var(--hoverShadowColor);
  }
  
  .category-entertainment:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--entertainmentColor);
    box-shadow: var(--hoverShadowColor);
  }
  
  .category-family:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--familyColor);
    box-shadow: var(--focusSecondaryShadowColor);
  }
  
  .category-health:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--healthColor);
    box-shadow: var(--focusSecondaryShadowColor);
  }
  
  .category-job:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--jobColor);
    box-shadow: var(--focusSecondaryShadowColor);
  }
  
  .category-study:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--studyColor);
    box-shadow: var(--focusSecondaryShadowColor);
  }
  
  .category-entertainment:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: var(--small);
    background-color: var(--entertainmentColor);
    box-shadow: var(--focusPrimaryShadowColor)
  }
  
  .submit-button {
    margin: var(--medium) 0 var(--small) 0;
    padding: var(--medium);
    width: 65%;
    align-self: center;
    border-radius: var(--small);
    font-size: medium;
    border: none;
    background-image: linear-gradient(to right, var(--familyColor), var(--healthColor));
  }
  
  .submit-button:hover {
    margin: var(--medium) 0 var(--small) 0;
    padding: var(--medium);
    width: 65%;
    align-self: center;
    border-radius: var(--small);
    font-size: medium;
    border: none;
    background-image: linear-gradient(to right, var(--familyColor), var(--healthColor));
    box-shadow: var(--hoverShadowColor);
  }
  
  .delete-button {
    margin: var(--small) 0 var(--small) 0;
    padding: var(--medium);
    width: 65%;
    align-self: center;
    border-radius: var(--small);
    font-size: medium;
    border: none;
    background-image: linear-gradient(to right, var(--studyColor), var(--entertainmentColor));
  }
  
  .delete-button:hover {
    margin: var(--small) 0 var(--small) 0;
    padding: var(--medium);
    width: 65%;
    align-self: center;
    border-radius: var(--small);
    font-size: medium;
    border: none;
    background-image: linear-gradient(to right, var(--studyColor), var(--entertainmentColor));
    box-shadow: var(--hoverShadowColor);
  }
  