@import "./reset.css";
@import "./variables.css";

.new-task-box {
  height: 100%;
  background-color: var(--backgroundColor);
  border-radius: var(--space-sm);
  box-shadow: var(--primaryShadowColor);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 var(--space-lg) 0 var(--space-lg);
}

.new-task-box::-webkit-scrollbar-track {
  border-radius: var(--space-sm);
}

.new-task-box::-webkit-scrollbar {
  width: var(--space-sm);
}

.new-task-box::-webkit-scrollbar-thumb {
  border-radius: var(--space-sm);
  background-color: var(--extraColor);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  font-size: var(--size-md);
  font-family: var(--primaryFont);
  margin: var(--space-lg) 0 var(--space-md) 0;
}

.input-text {
  font-family: var(--primaryFont);
  font-size: var(--space-md);
  padding: var(--space-sm);
  border: none;
  outline: none;
  border-radius: var(--space-sm);
  box-shadow: var(--secondaryShadowColor);

}

.input-text:focus {
  box-shadow: var(--focusPrimaryShadowColor);
}

.category-row-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, 60px);
  grid-auto-rows: 60px;
  grid-gap: var(--space-md);
}

.category-family {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--secondaryColor);
  box-shadow: var(--secondaryShadowColor);
  cursor: pointer;
}

.category-health {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--primaryColor);
  box-shadow: var(--secondaryShadowColor);
  cursor: pointer;
}

.category-job {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--tertiaryColor);
  box-shadow: var(--secondaryShadowColor);
  cursor: pointer;
}

.category-study {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--quartaryColor);
  box-shadow: var(--secondaryShadowColor);
  cursor: pointer;
}

.category-entertainment {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--quinaryColor);
  box-shadow: var(--secondaryShadowColor);
  cursor: pointer;
}

.category-logo {
  width: 45px;
  height: 45px;
}

.category-family:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--secondaryColor);
  box-shadow: var(--hoverPrimaryShadowColor);
  cursor: pointer;
}

.category-health:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--primaryColor);
  box-shadow: var(--hoverPrimaryShadowColor);
  cursor: pointer;
}

.category-job:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--tertiaryColor);
  box-shadow: var(--hoverPrimaryShadowColor);
  cursor: pointer;
}

.category-study:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--quartaryColor);
  box-shadow: var(--hoverPrimaryShadowColor);
  cursor: pointer;
}

.category-entertainment:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--quinaryColor);
  box-shadow: var(--hoverPrimaryShadowColor);
  cursor: pointer;
}

.category-family:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--secondaryColor);
  box-shadow: var(--focusSecondaryShadowColor);
  cursor: pointer;
}

.category-health:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--primaryColor);
  box-shadow: var(--focusSecondaryShadowColor);
  cursor: pointer;
}

.category-job:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--tertiaryColor);
  box-shadow: var(--focusSecondaryShadowColor);
  cursor: pointer;
}

.category-study:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--quartaryColor);
  box-shadow: var(--focusSecondaryShadowColor);
  cursor: pointer;
}

.category-entertainment:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
  background-color: var(--quinaryColor);
  box-shadow: var(--focusPrimaryShadowColor);
  cursor: pointer;
}

.submit-button {
  font-family: var(--primaryFont);
  margin: var(--space-xl) 0 var(--space-sm) 0;
  padding: var(--space-md);
  width: 65%;
  align-self: center;
  border-radius: var(--space-sm);
  font-size: var(--space-md);
  border: none;
  background-image: linear-gradient(to right, var(--secondaryColor), var(--primaryColor));
  cursor: pointer;
}

.submit-button:hover {
  font-family: var(--primaryFont);
  margin: var(--space-xl) 0 var(--space-sm) 0;
  padding: var(--space-md);
  width: 65%;
  align-self: center;
  border-radius: var(--space-sm);
  font-size: var(--space-md);
  border: none;
  background-image: linear-gradient(to right, var(--secondaryColor), var(--primaryColor));
  box-shadow: var(--hoverPrimaryShadowColor);
  cursor: pointer;
}

.delete-button {
  font-family: var(--primaryFont);
  margin: var(--space-md) 0 var(--space-xl) 0;
  padding: var(--space-md);
  width: 65%;
  align-self: center;
  border-radius: var(--space-sm);
  font-size: var(--space-md);
  border: none;
  background-image: linear-gradient(to right, var(--quartaryColor), var(--quinaryColor));
  cursor: pointer;
}

.delete-button:hover {
  font-family: var(--primaryFont);
  margin: var(--space-md) 0 var(--space-xl) 0;
  padding: var(--space-md);
  width: 65%;
  align-self: center;
  border-radius: var(--space-sm);
  font-size: var(--space-md);
  border: none;
  background-image: linear-gradient(to right, var(--quartaryColor), var(--quinaryColor));
  box-shadow: var(--hoverPrimaryShadowColor);
  cursor: pointer;
}

@media only screen and (min-width: 920px) {
  .delete-button {
    font-family: var(--primaryFont);
    margin: var(--space-md) 0 var(--space-md) 0;
    padding: var(--space-md);
    width: 65%;
    align-self: center;
    border-radius: var(--space-sm);
    font-size: var(--space-md);
    border: none;
    background-image: linear-gradient(to right, var(--quartaryColor), var(--quinaryColor));
    cursor: pointer;
  }

  .delete-button:hover {
    font-family: var(--primaryFont);
    margin: var(--space-md) 0 var(--space-md) 0;
    padding: var(--space-md);
    width: 65%;
    align-self: center;
    border-radius: var(--space-sm);
    font-size: var(--space-md);
    border: none;
    background-image: linear-gradient(to right, var(--quartaryColor), var(--quinaryColor));
    box-shadow: var(--hoverPrimaryShadowColor);
    cursor: pointer;
  }
}