@import "./reset.css";
@import "./variables.css";

body {
  background-image: url(../images/wallpapers/wallpaper.png);
  height: 100vh;
}

.header2 {
  font-family: var(--primaryFont);
  font-size: var(--size-lg);
  margin-top: var(--space-md);
}
