@import "./reset.css";
@import "./variables.css";

.table-box {
  width: 100%;
  margin: var(--space-lg) 0;
  display: grid;
}

.table-header-box {
  display: flex;
  justify-content: space-between;
}

.table-box-row {
  border-radius: var(--space-sm);
  box-shadow: var(--primaryShadowColor);
  cursor: pointer;
  display: grid;
  grid-template-columns: 70% 20%;
  width: 100%;
}

.table-box-row:hover {
  border-radius: var(--space-sm);
  box-shadow: var(--primaryShadowColor);
  cursor: pointer;
}

th {
  text-align: left;
}

.table-header-box {
  width: 100%;
}

.table-header-title {
  width: 70%;
}

.table-header-time {
  width: 20%;
}

td:first-child {
  border-bottom-left-radius: var(--space-sm);
  border-top-left-radius: var(--space-sm);
}

td:last-child {
  border-bottom-right-radius: var(--space-sm);
  border-top-right-radius: var(--space-sm);
}

.table-box-color-tag-job {
  background-color: var(--tertiaryColor);
  width: var(--space-sm);
  padding: unset;
}

.table-box-task-title {
  padding: var(--space-md);
  font-family: var(--primaryFont);
  background-color: blueviolet;
}

.table-box-title {
  padding: var(--space-md);
  font-family: var(--primaryFont);
  background-color: rgb(226, 116, 43);
  word-wrap: break-word;
}

.table-box-task-not-title {
  display: flex;
  align-content: center;
  background-color: rgb(255, 0, 234);
}

.table-box-time {
  padding: var(--space-md);
  font-family: var(--primaryFont);
  background-color: rgb(166, 255, 0);
}

.table-box-check-box {
  align-self: center;
  background-color: rgb(43, 255, 0);
}
