@import "./reset.css";
@import "./variables.css";

.task-table-box {
  height: 100%;
  background-color: var(--backgroundColor);
  border-radius: var(--space-sm);
  box-shadow: var(--primaryShadowColor);
  padding: 0 var(--space-md) 0 var(--space-md);
}

.task-table-box:-webkit-scrollbar-track {
  border-radius: var(--space-sm);
}

.task-table-box::-webkit-scrollbar {
  width: var(--space-sm);
}

.task-table-box::-webkit-scrollbar-thumb {
  border-radius: var(--space-sm);
  background-color: var(--extraColor);
}

.table-box {
  padding-top: var(--space-lg);
}

table {
  width: 100%;
}

.table-header {
  height: 30px;
  font-family: var(--primaryFont);
  margin-top: var(--space-md);
}

.table-row {
  margin-top: var(--space-sm);
  border-radius: var(--space-sm);
  box-shadow: var(--primaryShadowColor);
  cursor: pointer;
}

.table-row:hover {
  border-radius: var(--space-sm);
  padding: var(--space-md);
  box-shadow: var(--hoverPrimaryShadowColor);
  cursor: pointer;
}

th {
  padding: var(--space-md);
  text-align: left;
}

.color-tag-header {
  padding: 0;
}

td:first-child {
  border-bottom-left-radius: var(--space-md);
  border-top-left-radius: var(--space-md);
}

td:last-child {
  border-bottom-right-radius: var(--space-md);
  border-top-right-radius: var(--space-md);
}

.color-tag-family {
  background-color: var(--secondaryColor);
  width: var(--space-sm);
  padding: unset;
}

.color-tag-job {
  background-color: var(--tertiaryColor);
  width: var(--space-sm);
  padding: unset;
}

.color-tag-health {
  background-color: var(--primaryColor);
  width: var(--space-sm);
  padding: unset;
}

.task {
  padding: var(--space-md);
  font-family: var(--primaryFont);
}

.time {
  padding: var(--space-md);
  width: 90px;
  font-family: var(--primaryFont);
}

.check-box {
  width: 40px;
}

.check {
  border-radius: var(--space-md);
  border: var(--secondaryColor);
  cursor: pointer;
}

@media only screen and (max-width: 920px) {

  .task-table-box {
    height: 100%;
    background-color: var();
    border-radius: var(--space-sm);
    box-shadow: var(--primaryShadowColor);
    padding: 0 var(--space-md) var(--space-lg) var(--space-md);
  }
}